.gisManager-content{
	background: #fff;
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	.gisManager-nav{
	  border-right: solid 1px #e6e6e6; 
	  .el-menu {
	  	border-right: none;
	  }
	} 
	.gisManager-main{
	  padding: 0px;
	  position: relative;
	  .tab-content{
	  	position:absolute;
	  	top:0px;
	  	left:0px;
	  	right:0px;
	  	bottom:0px;
	  	.el-tabs__nav-wrap{
	  		padding-left: 6px;
	  		padding-top: 3px;
	  	}
	  	.el-tabs__content{
	  		position: absolute;
    		bottom: 0px;
    		top: 44px;
    		left: 0px;
    		right: 0px;
    		overflow: auto;
    		padding: 5px;
    		background-color: #f6f6f8;
	  	}
	  }
	}
}