#gisManagerHeader{
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	p{
		font-size: 28px;
	 	font-weight: bold;
	 	margin:0px;
	 	text-align: center;
	}
	.login{
		float: right;
		cursor: pointer;
		text-align: center;
		padding-top: 12px;
		.userimg{
			width: 32px;
			height: 32px;
			border-radius: 100%;
			display: block;
			margin: 0 auto;
			border:2px solid #fff;
			float: left;
			img{
				width: 100%;
			}
		}
		.username{
			float: right;
			color: #fff;
			display: block;
			padding-left: 10px;
			height: 36px;
			line-height: 36px;
		}
	}
	.language-select{
		.el-input input{
			width: 80px;
			padding-left: 0px;
			padding-right: 28px;
    		border: none;
    		background: transparent;
    		color: #fff;
    		text-align: right;
		}
	} 
}