#mapDataManager{
	 background-color: #fff;
	 border:1px solid #e6e6e6;
	 .map-data-tool{
	 	padding: 10px;
	 }
	 .panel-content{
        left:5px;
        right: 5px;
        top: 62px;
        bottom: 10px;
    }
   	.group-box{
   		.group{
   			min-height: 40px;
	 		border:1px solid #dcdfe6;
	 		padding:10px;border-radius:5px;
	 		label:first-child{
	 			margin-left: 30px;
	 		}
	 	}
   	}
    	  
   
}